# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.coverage
htmlcov/

# Django
*.sqlite3
backend/media/
backend/staticfiles/
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env
npm-debug.log*

# ML
backend/model_artifacts/*.pt
backend/ml_training/data/
*.h5

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
.docker/
